@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+NO:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 99vw;
    height: 100vh;
    font-size: 100%;
}

header {
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    height: 10rem;
    h1 {
        color: #000000;
        font-size: 2.5em;
        font-family: "Josefin Sans", sans-serif;
        font-variant: small-caps;
        animation: fadeInDown;
        animation-duration: 1s;
    }

    font-family: Arial, Helvetica, sans-serif;

    img {
        width: 10rem;
        animation: flipInY;
        animation-duration: 1s;
    }
}

#header1 {
    display: flex;
    width: 70%;
    height: 100%;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

#header2 {
    display: flex;
   width: 60%;
   height: 100%;
   align-items: center;
   h1 {
    font-family: Montserrat;
    color: #018419;
    text-shadow: 1px 1px 2px #0184197c;
    font-size: 3rem;
   }
}

hr {    
    border-color: #2A983F;
    width: 30%;
    animation: fadeInLeft;
    animation-duration: 1s;
}

main {
    display: flex;
    width: 100%;
    height: 55rem;
    background-color: #2A983F;

    h2 {
        transition: 0.5s ease;
        padding: 10px;
        font-size: 5em;
        color: #018419;
        font-family: Montserrat;
        font-size: 3.5rem;
        font-weight: 800;

        animation: fadeInLeft;
        animation-duration: 1s;
    }

}

section#servico {
    height: 100%;
    background-color: #FFFFFF;
    width: 60%;
    padding: 20px;

        li:hover {
        transform: scale(1.05);
        margin-left: 1rem;
    }
}

section#img-sec {
    perspective: 2px;
    height: 100%;
    width: 40%;
    background-image: url(/imgs/image001.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 4px 4px 3px 1px rgba(0, 0, 0, 0.307);
}

ul.ul-main {
    margin: 0px 0px 0px 40px;
    padding: 5px;
    list-style-type: disc;
    li {
        animation: fadeInLeft;
        animation-duration: 1s;
        transition: 0.5s ease;
        color: rgb(0, 0, 0);
        padding: 5px;
        font-family: Inter, sans-serif;
        font-size: 1rem;
        margin-top: 5px;
        line-height: 2;
    }


}

.container-contato {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 15rem;

   button#contato {
    animation: fadeInDown;
    animation-duration: 1s;
    color: #ffff;
    border: none;
    padding: 14px 20px 19px 20px;
    margin: auto;
    width: 23rem;
    border-radius: 1rem;
    background-color: #018419;
    font-weight: bold;
    font-family: Epilogue;
    cursor: pointer;
    transition: 0.5s ease;

    img.svg {
        width: 1rem;
        margin: 3px 5px 0px 0px;
    }
}
}


button#contato:hover {
    background-color: #019b1d;
    transform: scale(1.1); 
}

.container-carrosel {
    height: 25rem;
    width: 100%;
}

.carrosel {
    margin: auto;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    

    .slide {
        padding: 4rem 10rem;
        cursor: grab; 
    }

    .slide:active {
        cursor: grabbing;
    }
    
    div.container-carrosel {

        div.border {
            transition: 500ms ease; 
            border: 1px solid #E1E1E1;
            padding: 2rem;
        }

        div.border:hover {
            transition: 500ms ease; 
            border: 1px solid #2a983e9a;
        }

        i.bi-quote {
            transition: 500ms ease; 
            display: flex;
            font-size: 70px;
            color: #c7c7c7;
            transform: rotate(180deg);
        }

        .autor {
            font-family: Inter, sans-serif;
            font-weight: bold;
            font-size: 1em;
            margin-bottom: 1rem;
        }

        span.comentario-span {
            font-family: Epilogue, sans-serif;
            font-weight: 300;
        }

        .depoi-txt {
            font-family: Epilogue, sans-serif;
            font-weight: 300;
            margin-bottom: 2rem;
        }
    }

    div.estrelas {
        color: #FBBC04;
    }

    .nav-btn {
        color: #018419;
    }

    .swiper-pagination-bullet{
        background-color: #019b1d;
    }
}



section.maps {
    padding-top: 2rem;
    width: 100%;
    height: 25rem;
    background-color: #ffffff;
    }

div.maps-background {
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: flex-end;
}

.iframe-maps {
    width: 100%;
    height: 100%;
}

footer {

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1px;
    height: 15rem;
    background-color: #f7f7f7;
    color: #679b71;
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    word-spacing: 0.2rem;
    line-height: 2rem;

    .address-container {
        border-right: 2px solid #ffffff;
    }

    .footer-address {
        display: flex;
        padding-left: 2rem;
        align-items: center;
        height: 100%;
        padding-right: 2rem;
    }

    .border-2 {
        display: flex;
    }

    .footer-flex {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        ul {
            
            li.li-footer {
                list-style: none;

                a {
                    color: #0861F2;
                    text-decoration: none;
                    padding: 5px;
                    font-family: Inter, sans-serif;
                    font-size: 1.2rem;
                    margin-top: 5px;
                    line-height: 3;
                    margin-left: 1.2rem;
                }

            }
            li.li-footer:hover {
                animation: headShake;
                animation-duration: 1s;

            }


        }
    }

    .footer-boneterre {
        margin-left: 4rem;
        padding-right: 2rem;
        border-right: 2px solid #e1e1e1;
        h2 {
            font-family: Montserrat, sans-serif;
            color: #4e4e4e;
            margin-bottom: 3rem;
        }
    }
    
    .footer-instagram {
        background: linear-gradient( to right, #D300C5, #FF204E,#D54F14, #FFC800);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        background-clip: text;
        color: transparent;
    }



}

